
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Lobster', cursive;
    background:linear-gradient(to left,#b4ec5a,#edf110d5,#f424f4c8)
}
  
.button{
    padding: 20px;
    margin: 2px 2px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 150px;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    width: 63px;
    font-size: 20px;
    background-color: #c85aec;
    
}
.button:hover{
    background-color: aliceblue;
}
.calculator{
    display: inline-block;
    border-radius: 31px;
    background-color:#a2af87;
    padding: 13px;
}
